<?php
declare(strict_types=1);

/**
 * ReportingCloud Zend Framework 3 Module
 *
 * Zend Framework 3 Module for ReportingCloud Web API. Authored and supported by Text Control GmbH.
 *
 * @link      https://www.reporting.cloud to learn more about ReportingCloud
 * @link      https://git.io/Je5US for the canonical source repository
 * @license   https://github.com/TextControl/txtextcontrol-reportingcloud-php-zf-module/blob/master/LICENSE.md
 * @copyright © 2020 Text Control GmbH
 */

// Copy this file to '/config/autoload/reportingcloud.local.php' in your Zend Framework 3
// application; then add the ReportingCloud credentials you got at https://portal.reporting.cloud

return [
    'reportingcloud' => [
        'credentials' => [

            // either api_key
            'api_key' => '',

            // or username and password
            'username' => '',
            'password' => '',
        ],
    ],
];
