<?php
declare(strict_types=1);

// Copy this file to '/config/autoload/reportingcloud.local.php' in your Zend Framework 3
// application; then add the ReportingCloud credentials you got at https://portal.reporting.cloud

return [
    'reportingcloud' => [
        'credentials' => [

            // either api_key
            'api_key' => '',

            // or username and password
            'username' => '',
            'password' => '',
        ],
    ],
];
